* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}
.nav-pills > li.active > a,
.nav-pills > li > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #ff5819;
}
.nav-pills > li.login_register{
  float: right;
}
.nav-pills > li.login_register > a:hove {
  color: #000;
  background-color: #ddddde;
}
a {
  color: #404040;
}
.nav-pills li {
  margin-left: 8%;
}
.yd-sn{
  display: none;
}
.mainTitle > li > a {
  padding: 18px 15px;
  font-size: 18px;
}
.nav > li.register {
    margin-right: 5%;
}
.nav > li.login_register > a {
  padding: 16px 5px;
  font-size: 18px;
}
.nav-pills {
  background: #ddddde;
}
.nav-pills .active {
  margin-left: 13%;
}
  
  .swiper-container{width: 79%}
    .swiper-wrapper{
      width:90%;
    }
    .swiper-container .swiper-slide{
      border: 1px solid #ccc;
        box-shadow: 0 0 59px rgba(237, 237, 237, 0.5);
    }
    
     .copyright{padding:35px 0; line-height: 24px;background: #F0F0F0;height: 163px;width: 100%;}
.copyright p{text-align: center;}
/*footer*/
.footer{height: 39px;background: #282828;}
.footer img{display: inline-block;margin-left: 10px;}
.copyright{float: left}

@media(max-width: 767px){
 .h3{ font-size: 19px;}
 ..hr-2{margin-top: -15px;}
 .mainTitle > li > a { padding: 10px 5px;;font-size: 15px;}
  .pc-sn{display: none;}
  .yd-sn{display: block;width: 100%;}
  .nav-pills{background-color: #fff;}
    .index-content{width: 100%}
    .copyright{ min-width: 100%;}
    .one-title{float: none !important;background-color: #ebebeb;}
     .nav-pills li {margin-left: 0%;}
     .nav-pills .active {margin-left: 5%;}
     .content_bar dl {width: 149px;height: 206px;}
     .nav > li.login {position: absolute;right: 2%;top: 0%;border: 1px solid #000;top: 12px;}
     .nav >li.register{ position: absolute;right: 9%;top: 0%;border: 1px solid #000;top: 12px;}
     .nav-pills > li + li{margin-left: 0px;}
     .one-title img{width: 42%}
     .nav > li.login_register > a{ padding: 0px 5px;font-size: 10px;}
    .nav-pills li {margin-left: 0%;}
    .nav-pills .active {margin-left: 0%;}
    .yd-footer{top: 20px;}
  .yd-footer .yd-xuanke{    width: 30%;margin-left: 35%;background-color: #ff5819;color: #fff;border: 0;border-radius: 9px;}
  }
 @media (min-width: 768px) and (max-width: 992px){
    .container {width: 768px;max-width: 100%;}
    .index-content{width: 768px}
    .copyright{ min-width: 768px;}
    .mainTitle > li > a { padding: 16px 8px;font-size: 15px;}
     .nav-pills li {margin-left: 0%;}
     .nav-pills .active {margin-left: 5%;}
     .content_bar dl {width: 149px;height: 206px;}
      .content_bar dl {width: 149px;height: 207px;}
    ..content_bar dl dt{margin-left: 34px}
    .nav-pills li {margin-left: 0%;}
    .nav-pills .active {margin-left: 4%;}
  }
  @media (min-width: 992px) and (max-width: 1200px){
    .container {width: 992px;max-width: 100%;}
    .index-content{width: 992px}
    .copyright{ min-width: 992px;}
    .content_bar dl {width: 185px;height: 209px;}
    .content_bar dl dt{margin-left: 34px}
    .nav-pills li {margin-left: 0%;}
    .nav-pills .active {margin-left: 4%;}
  }
  @media(width: 768px){
 .h3{ font-size: 19px;}
 ..hr-2{margin-top: -15px;}
 .mainTitle > li > a { padding: 10px 5px;;font-size: 15px;}
  .pc-sn{display: none;}
  .yd-sn{display: block;width: 100%;}
  .nav-pills{background-color: #fff;}
    .index-content{width: 100%}
    .copyright{ min-width: 100%;}
    .one-title{float: none !important;background-color: #ebebeb;}
     .nav-pills li {margin-left: 0%;}
     .nav-pills .active {margin-left: 5%;}
     .content_bar dl {width: 149px;height: 206px;}
     .nav > li.login {position: absolute;right: 2%;top: 0%;border: 1px solid #000;top: 12px;}
     .nav >li.register{ position: absolute;right: 16%;top: 0%;border: 1px solid #000;top: 12px;}
     .nav-pills > li + li{margin-left: 0px;}
     .one-title img{width: 29%}
     .nav > li.login_register > a{ padding: 0px 5px;font-size: 10px;}
    .nav-pills li {margin-left: 0%;}
    .nav-pills .active {margin-left: 0%;}
    .yd-footer{top: 20px;}
  .yd-footer .yd-xuanke{    width: 30%;margin-left: 35%;background-color: #ff5819;color: #fff;border: 0;border-radius: 9px;}
  .nav > li.login_register > a{font-size: 22px}
  }
  @media (max-width: 320px){
.mainTitle > li > a {
    padding: 10px 5px;
  }
}
@media (min-width: 321px) and (max-width: 361px){
  .mainTitle > li > a {
      padding: 10px 8px;
  }
}
@media (min-width: 362px) and (max-width: 376px){
  .mainTitle > li > a {
      padding: 10px 9px;
  }
}
@media (min-width: 377px) and (max-width: 412px){
  .mainTitle > li > a {
      padding: 10px 13px;
  }
}
@media (min-width: 412px) and (max-width: 415px){
  .mainTitle > li > a {
      padding: 10px 13px;
  }
}
@media (min-width: 416px) and (max-width: 768px){
  .mainTitle > li > a {
    padding: 10px 23px;
    font-size: 29px;
  }
}










