.clearfix {
  width: 1200px;
  margin: 18px auto;
}
.l_login {
  width: 600px;
  float: left;
  padding: 78px 100px;
  background-color: #fdfdfd;
  height: 456px;
  margin-bottom: 40px;
  border-right: 1px dashed #D7D7D7;
}
.l_login_c {
  width: 600px;
  float: left;
  padding: 35px 164px;
  background-color: #fdfdfd;
  height: 456px;
  margin-bottom: 40px;
}
.l_info {
  margin-top: 33px;
  color: #919191;
}
.username {
  width: 63%;
  border-radius: 6px;
  height: 33px;
}
.password {
  width: 63%;
  border-radius: 6px;
  height: 33px;
}
.l_info2 {
  float: right;
  margin-right: 17%;
}
.l_info2 a {
  color: #ff5819;
}
.login-login {
  margin-top: 60px;
}
.agreed {
  margin-top: 33px;
}
.wrap {
  background-color: #f3f3f3;
  padding: 0;
}
